[Unit]
Description="[RACTF] {{.EventName}}"
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/ractf/{{.InternalName}}
ExecStart={{.ComposePath}} up -d
ExecStop={{.ComposePath}} down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target